h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 260101065-2 - Aplicar investigación local en recursos naturales, según enfoque participativo y normativa.