h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('1', 'Registro de la información', 'main.html#page/registro/')
                    +navTemaItem('2', 'Datos', 'main.html#page/datos/')
                    +navTemaItem('3', 'Lectoescritura', 'main.html#page/lectoescritura/')