.container#intro

    .header-ecored
        h1 1. Introducción
    
    .card.shadow
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/g0GixX23EqQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body
            .card-text
                p Actualmente a las comunidades étnicas  desde la Constitución Política de Colombia de 1991 se les ha dado un espacio amplio, reconociendo su identidad y derechos.  De esta manera pueden también proteger su entorno, sus recursos naturales, sus tradiciones, prácticas y vivencias con la naturaleza, además del aprovechamiento de está.
                p.mt-4 Como lo relaciona Acosta et al. (2006), las comunidades étnicas son significativas, ya que sus aportes son experiencias históricas y dimensiones de análisis diferentes al enfoque occidental, lo que conlleva a que estas comunidades tengan temáticas en: planificación territorial endógena local y regional (planes de vida); agricultura ecológica; diversidad añadida, espiritualidad y cosmovisión; tecnologías y prácticas agroecológicas milenarias; manutención de los servicios ambientales de los diversos tipos de coberturas vegetales; diversidad de recursos hidrobiológicos que manejan y usan hermandad étnica que trasciende las fronteras de los Estados nacionales. En consecuencia genera nuevos escenarios de cooperación en ciencia y tecnología, por otra parte proyectos de cooperación, entre otros.
                p.mt-4 Este componente formativo registra información local del territorio mediante formatos donde se tienen en cuenta tipos, parámetros, técnicas de análisis de procesamiento, de comprensión de lectura y métodos de redacción. 
                p.mt-4 El registro y análisis de la información usada en la investigación local de recursos naturales, permite generar procesos de selección, categorización, comparación, validación e interpretación mejorando el proceso de acceso a la misma y a la toma de decisiones.