.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Investigación:
            | aunque el término resulte a simple vista como un acto complejo, Vélez S. (2001) lo define de manera sencilla, así plantea que la investigación es el “proceso de conocer la realidad” (p.20).
        p 
            strong.mr-2 Justificación:
            | Hernández, (2003), afirma que la justificación es la que “indica el porqué de la investigación exponiendo sus razones”, (p.50).
        p 
            strong.mr-2 Estadistica:
            | los investigadores Hernández, (2003), la definen como el “procedimiento para clasificar, calcular, analizar y resumir información numérica que se obtiene de manera sistemática”, (p.495).
        p 
            strong.mr-2 Fuentes primarias:
            | “constituyen el objetivo de la investigación bibliográfica en la revisión de la literatura y ofrecen datos de primera mano”, Hernández, et al., (2003, p.70).
        p 
            strong.mr-2 Hipotesis:
            | Ávila (2006), las define como “una respuesta probable de carácter tentativo a un problema de investigación y que es factible de verificación empírica.
            br
            p La hipótesis expresa la relación entre dos o mas variables que son susceptibles de medición. Una hipótesis planteada correctamente debe poderse verificar o contrastar contra la evidencia empírica”. Por su parte, Hernández, et al. (2003), acotan que las hipótesis son “explicaciones tentativas del fenómeno investigado que se formulan como proposiciones”, (p.140).
        p 
            strong.mr-2 Justificación:
            | Hernández, et al., (2003), afirma que la justificación es la que “indica el porqué de la investigación exponiendo sus razones”, (p.50).
        p 
            strong.mr-2 Marco teórico:
            | Hernández, et al., (2003), sugieren que el marco teórico “implica analizar teorías, investigaciones y antecedentes que se consideren válidos para el encuadre del estudio (parafrasear). No es sinónimo de teoría”, (p.64).
        p 
            strong.mr-2 Método:
            | Vélez S. (2001), afirma que es el “camino para alcanzar una meta. Sistema de principios (identidad, contradicción, exclusión) y normas (inducción, deducción) de razonamiento para establecer conclusiones en forma objetiva”.
        p 
            strong.mr-2 Método científico:
            | para Vélez S. (2001), es el “procedimiento tentativo, verificable, de razonamiento riguroso y observación empírica, utilizado para descubrir nuevos conocimientos a partir de nuestras impresiones, opiniones o conjeturas examinando las mejores evidencias disponibles a favor y en contra de ellas”.
        p 
            strong.mr-2 Técnica:
            | Vélez S. (2001), sugiere que la técnica es la “habilidad para hacer alguna cosa y que implica el conocimiento empírico de cómo hacerlas. El técnico provee a la ciencia de instrumentos y comprobaciones y no cesa de formular preguntas al científico”.
        p 
            strong.mr-2 Variable:
            | Hernández, et al., (2003), la definen como la “propiedad que tiene una variación que puede medirse u observarse”.