include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Acosta Munoz, Luis Eduardo, Mendoza Hernandez Delio, 'El conocimiento tradicional: Clave en la construcción del desarrollo sostenible en la Amazonia colombiana'. En: Colombia Amazónica ISSN: 0120-6222  ed: Editora Guadalupe v.N/A fasc.N/A p.101 - 118 ,2006.", "")

        +referenciaItem("Arias Orozco, Edgar., “Seminario temático sobre procesos de investigación”. Fundación Universitaria Catolica del Norte. 2012. www.ucn.edu.co - Campus Santa Rosa de Osos. Medellín. Antioquia – Colombia.", "")

        +referenciaItem("Ávila Baray, H. L. (2006). Introducción a la metodología de la investigación. Edición electrónica.", "http://www.eumed.net/libros/2006c/203/")

        +referenciaItem("Biblioteca de la CEPAL Comisión Económica para América Latina y del Caribe (2020). Biblioguías.", "https://biblioguias.cepal.org/gestion-de-datos-de-investigacion")

        +referenciaItem("Centro de Estudios  Cervantinos(2018). Comprensión lectora.", "https://www.centroestudioscervantinos.es/comprension-lectora/")

        +referenciaItem("Cohen Néstor. Metodología de la investigación, ¿para qué?: la producción de los datos y los diseños /– 1a ed. – Ciudad Autónoma de Buenos Aires: Teseo, 2019. 276 p.; 20 x 13 cm. Editorial Teseo, 2019.", "")

        +referenciaItem("Gil Flores, Javier.  Analisis de datos  cualitativos.  Aplicaciones a  la  Investigación  Educativa, Barcelona.", "")

        +referenciaItem("Hernandez Sampieri, Roberto. Metodología de la investigación.  McGraw Hill. 2014. Sexta edición. Mexico D.F.  ISBN: 978-1-4562-2396-0", "")

        +referenciaItem("Hernández-Sampieri, R., Fernández-Collado, C. y Baptista-Lucio, P. (2014). Cómo se originan las investigaciones cuantitativas, cualitativas o mixtas. En Metodología de la Investigación (6ª ed., pp. 24-29). México: McGraw-Hill.", "")

        +referenciaItem("Hernández S., R., Fernández C., C. y Baptista L., P. (2003). Metodología de la investigación. México. Editorial McGraw-Hill.", "")

        +referenciaItem("Marroquín Marta Lidia. Características de la redacción. Universidad de San Carlos de Guatemala; [2013].", "https://investigar1.files.wordpress.com/2010/05/redaccion-caracterc3adsticas-de-la-redaccic3b3n-imprimir-mlmsemana10.docx")

        +referenciaItem("Montealegre, Rosalía; Forero, Luz Adriana. Desarrollo de la lectoescritura: adquisición y dominio Acta Colombiana de Psicología, vol. 9, núm. 1, mayo, 2006, pp. 25-40 Universidad Católica de Colombia Bogotá, Colombia.", "http://www.redalyc.org/articulo.oa?id=79890103")

        +referenciaItem("Normas APA.", "http://normasapa.net/elegir-diseno-de-investigacion/")

        +referenciaItem("Real Academia Española.", "https://dle.rae.es/dise%C3%B1o")

        +referenciaItem("Sánchez, C. (26 de mayo de 2020). Manual Normas APA(7ma edición).", "https://normas-apa.org/descargas/manual-normas-apa-descargar-pdf/")

        +referenciaItem("Universidad Centroccidental “Lisandro Alvarado”, Venezuela.  Procesamiento de datos.", "http://www.ucla.edu.ve/dac/Departamentos/coordinaciones/informaticai/documentos/PROCESAMIENTO%20DE%20DATOS.htm")

        +referenciaItem("Velez S., C. (2001). Apuntes de metodología de la investigación. Departamento de Ciencias Básicas Universidad EAFIT. Medellín – Antioquia.", "")

        +referenciaItem("Villamizar Figueroa, José. Técnicas básicas para el análisis de datos. Editorial: Servicio Nacional de Aprendizaje (SENA) año 1992. URI : https://hdl.handle.net/11404/1907. Colecciones: Cartillas.", "https://www.ucn.edu.co/sistema-investigacion/Documents/seminario-tematico.pdf")