include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Acosta, L. y Mendoza, D. (2006). 'El conocimiento tradicional: Clave en la construcción del desarrollo sostenible en la Amazonia colombiana'. En: Colombia Amazónica ISSN: 0120-6222  ed: Editora Guadalupe.", "")

        +referenciaItem("Arias, E. (2012). “Seminario temático sobre procesos de investigación”. Fundación Universitaria Católica del Norte.", "")

        +referenciaItem("Ávila, H. (2006). Introducción a la metodología de la investigación. Edición electrónica. ", "http://www.eumed.net/libros/2006c/203/")

        +referenciaItem("Biblioteca de la CEPAL Comisión Económica para América Latina y del Caribe (2020). Biblioguías.", "https://biblioguias.cepal.org/gestion-de-datos-de-investigacion")

        +referenciaItem("Centro de Estudios  Cervantinos (2018). Comprensión lectora.", "https://www.centroestudioscervantinos.es/comprension-lectora/")

        +referenciaItem("Cohen, N. (2019). Metodología de la investigación ¿para qué?: la producción de los datos y los diseños. Ciudad Autónoma de Buenos Aires. Editorial Teseo.", "")

        +referenciaItem("Gil, J. (2015). Análisis de datos cualitativos. Aplicaciones a  la  Investigación  Educativa, Barcelona.", "")

        +referenciaItem("Hernandez, R. (2014). Metodología de la investigación ISBN: 978-1-4562-2396-0. McGraw Hill", "")

        +referenciaItem("Hernández, R., Fernández, C. y Baptista, P. (2014). Cómo se originan las investigaciones cuantitativas, cualitativas o mixtas. McGraw-Hill.", "")

        +referenciaItem("Hernández, R., Fernández C., y Baptista, P (2003). Metodología de la investigación. México. Editorial McGraw-Hill.", "")

        +referenciaItem("Marroquín, M. (2013). Características de la redacción. Universidad de San Carlos de Guatemala.", "")

        +referenciaItem("Montealegre, R. y Forero, L. (2006). Desarrollo de la lectoescritura: adquisición y dominio Acta Colombiana de Psicología, vol. 9, núm. 1, pág. 25-40. Universidad Católica de Colombia Bogotá, Colombia.", "http://www.redalyc.org/articulo.oa?id=79890103")

        +referenciaItem("Osorio, M. (1986). Pedagogía para la participación popular. Editorial Servicio Nacional de Aprendizaje.", "")

        +referenciaItem("Real Academia Española.", "https://dle.rae.es/dise%C3%B1o")

        +referenciaItem("Van der Hammen, C., Frieri, S., Zamora, N. C., & Navarrete, M. P. (2012). Herramientas para la formación en contextos interculturales. Tropenbos Internacional Colombia.", "")

        +referenciaItem("Velez, C. (2001). Apuntes de metodología de la investigación. Departamento de Ciencias Básicas Universidad EAFIT. Medellín – Antioquia.", "")

        +referenciaItem("Villamizar, J. (1992). Técnicas básicas para el análisis de datos. Editorial: Servicio Nacional de Aprendizaje (SENA)", "")