include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Acosta, L. E., & Mendoza, D. (2007). El conocimiento tradicional: Clave en la construcción del desarrollo sostenible en la amazonía colombiana. Revista Colombia Amazónica, 0(Edición Especial), 101-117.", "")

        +referenciaItem("Cabrerizo, D. M. (2016). Cultura científica 4° ESO (Primera). Editex.", "")

        +referenciaItem("Constitución Política de Colombia [Const]. Art. 79 de julio de 1991 (Colombia).", "")

        +referenciaItem("Fals Borda, Orlando. ANISUR, M. Rahman.Accion y Conocimiento. Como romper el monopolion con Investigacion Acción Participativa.Bogotá: Cinep, 1991.233p. ISBN. 958-644-008-7.", "")

        +referenciaItem("Napoleón, M P, & Jaramillo, L (2008). Investigación Cualitativa “la Complementariedad”.  Editorial Kinesis.", "")

        +referenciaItem("Rivera, M., Hernández, B., & Castillo, L. G. (2016). Programa de educación ambiental en el Consejo Popular Capitán San Luis. Revista Científica Avances, 18(2), 153-163.", "")

        +referenciaItem("Taylor, S.D & Bogman, R (1996) Introducción a los métodos cualitativos de Investigación. Barcelona: Paidós.", "")